<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Program săptămânal: </h4>
      </div>
      <div style="position:absolute;top: 15px;right: 15px;">
        <a routerLink="/adaugaActivitate"><button type="submit" class="btn btn-primary btn-round">Adaugă activitate</button></a>
      </div>
      <div class="card-body">
        <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState" >
          <div class="table-responsive">
            <ng-container *ngSwitchCase="DataState.LOADED_STATE">
              <table class="table">
                <thead class=" text-primary">
                  <th> Data </th>
                  <th> Ora </th>
                  <th> Subiect </th>
                  <th> Descriere </th>
                </thead>
                <tbody *ngFor="let activitate of appState.appData.data.activitate; let i = index">
                  <tr *ngIf="(activitate.data | date:'dd/MM/yyyy') <= (getFuture() | date:'dd/MM/yyyy') && (activitate.data | date:'dd/MM/yyyy') >= (getToday() | date:'dd/MM/yyyy') ">
                    <td>{{activitate.data | date:'dd/MM/yyyy'}}</td>
                    <td>{{activitate.ora}}</td>
                    <td>{{activitate.subiect}}</td>
                    <td>{{activitate.descriere}}</td>
                  </tr> 
                </tbody>
              </table>
           </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
 
</div>
