<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Program săptămânal: </h4>
      </div>
      <div style="position:absolute;top: 15px;right: 15px;">
        <a routerLink="/adaugaActivitate"><button type="submit" class="btn btn-primary btn-round">Adaugă activitate</button></a>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title" style = "color: rgb(199, 193, 193);"> Luni </h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th> Ora </th>
              <th> Subiect </th>
              <th> Descriere </th>
            </thead>
            <tbody>
              <tr>
                <td> 09:00 </td>
                <td> Revizuire dosar </td>
                <td>
                  <p> Pacient X Y </p>
                  <p> Atentie: diagnostic! </p>
                  <p> Camera 312 </p>
                </td>                
              </tr>
              <tr>
                <td> 17:30 </td>
                <td> Sedinta echipa </td>
                <td>
                  <p> OPERATIE URGENTA! </p>
                  <p> Echipa de la chirurgie. </p>
                  <p> Camera 167 </p>
                </td>                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title" style = "color: rgb(199, 193, 193);"> Marți </h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th> Ora </th>
              <th> Subiect </th>
              <th> Descriere </th>
            </thead>
            <tbody>
              <tr>
                <td> - </td>
                <td> Zi libera! </td>
                <td> HAVE FUN! </td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title" style = "color: rgb(199, 193, 193);"> Miercuri </h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Ora
              </th>
              <th>
                Subiect
              </th>
              <th>
                Descriere
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  07:00
                </td>
                <td>
                  Operatie pe creier
                </td>
                <td>
                  <p>
                    Pacient X Y
                  </p>
                  <p>
                    De luat: fisa pacientului.
                  </p>
                  <p>
                    Salon de operatie nr 75
                  </p>
                </td>                
              </tr>
              <tr>
                <td>
                  14:00 - 15:30
                </td>
                <td>
                  Zzz...
                </td>
                <td>

                </td>                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title" style = "color: rgb(199, 193, 193);"> Joi </h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Ora
              </th>
              <th>
                Subiect
              </th>
              <th>
                Descriere
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td>
                  
                </td>                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title" style = "color: rgb(199, 193, 193);"> Vineri </h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Ora
              </th>
              <th>
                Subiect
              </th>
              <th>
                Descriere
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  12:15
                </td>
                <td>
                  Consultatie
                </td>
                <td>
                  <p>
                    Pacient Z A
                  </p>
                  <p>
                    Camera 120
                  </p>
                </td>                
              </tr>
              <tr>
                <td>
                  17:30
                </td>
                <td>
                  Raport ore de lucru
                </td>
                <td>
                </td>                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        <h4 class="card-title"> Table on Plain Background</h4>
        <p class="card-category"> Here is a subtitle for this table</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Name
              </th>
              <th>
                Country
              </th>
              <th>
                City
              </th>
              <th class="text-right">
                Salary
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  Dakota Rice
                </td>
                <td>
                  Niger
                </td>
                <td>
                  Oud-Turnhout
                </td>
                <td class="text-right">
                  $36,738
                </td>
              </tr>
              <tr>
                <td>
                  Minerva Hooper
                </td>
                <td>
                  Curaçao
                </td>
                <td>
                  Sinaai-Waas
                </td>
                <td class="text-right">
                  $23,789
                </td>
              </tr>
              <tr>
                <td>
                  Sage Rodriguez
                </td>
                <td>
                  Netherlands
                </td>
                <td>
                  Baileux
                </td>
                <td class="text-right">
                  $56,142
                </td>
              </tr>
              <tr>
                <td>
                  Philip Chaney
                </td>
                <td>
                  Korea, South
                </td>
                <td>
                  Overland Park
                </td>
                <td class="text-right">
                  $38,735
                </td>
              </tr>
              <tr>
                <td>
                  Doris Greene
                </td>
                <td>
                  Malawi
                </td>
                <td>
                  Feldkirchen in Kärnten
                </td>
                <td class="text-right">
                  $63,542
                </td>
              </tr>
              <tr>
                <td>
                  Mason Porter
                </td>
                <td>
                  Chile
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-right">
                  $78,615
                </td>
              </tr>
              <tr>
                <td>
                  Jon Porter
                </td>
                <td>
                  Portugal
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-right">
                  $98,615
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> -->
</div>
