
<div class="wrapper">
    <div  style=" width: 100%; height: 100%;" class="main-panel">
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
              <div class="navbar-wrapper">
                <div class="navbar-toggle">
                  <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                  </button>
                </div>
                <div class="row">
                      <div class="logo-image-small">
                        <img style="height: 50px;" src="assets/img/pngaaa.com-4011536.png">
                      </div>
                    <h5 style="padding-left: 10px;padding-top: 12px; " class="simple-text logo-normal">
                      Online Hospital
                    </h5>
                  </div>
                <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
              </div>
              <button class="navbar-toggler" type="button" (click)="collapse()"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
              </button>
             
            </div>
          </nav>
          
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


       
    


