
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Registru Pacienti: </h4>
      </div>
      <form>
        <div style ="padding: 10px; " class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="nc-icon nc-zoom-split"></i>
            </div>
          </div>
        </div>
      </form>
       <div style="position:absolute;top: 15px;right: 15px;">
        <a routerLink="/pacient"><button class="btn btn-primary btn-round">Pacient Nou</button></a>
      </div>
      <div class="card-body">
        <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState" >
        <div class="table-responsive">
          <ng-container *ngSwitchCase="DataState.LOADED_STATE">
            <table class="table">
            <thead class=" text-primary">
              <tr>
                <th>CNP</th>
                <th>Nume</th>
                <th>Prenume</th>
                <th>Data Nasterii</th>
                <th>Telefon</th>
             </tr>
            </thead>
            <tbody *ngFor="let pacient of appState.appData.data.pacient; let i = index">
              <tr (click)="getId(pacient)">
                <td>{{pacient.cnp}}</td>
                <td>{{pacient.nume}}</td>
                <td>{{pacient.prenume}}</td>
                <td>{{pacient.dataNasterii |  date:'dd/MM/yyyy'}}</td>
                <td>{{pacient.nrTelefon}}</td>
              </tr>
            </tbody>
          </table>
        </ng-container>
        <!-- <div>{{ appState$ | async | json }}</div> -->
        </div>
      </ng-container>
      </div>
    </div>
  </div>

</div>