<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Registru Pacienti: </h4>
      </div>
      <form>
        <div style ="padding: 15px; " class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="nc-icon nc-zoom-split"></i>
            </div>
          </div>
        </div>
      </form>
       <div style="position:absolute;top: 15px;right: 15px;">
              <button type="submit" class="btn btn-primary btn-round">Pacient Nou</button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Nume
              </th>
              <th>
                CNP
              </th>
              <th>
                Data Nasterii
              </th>
              <th class="text-right">
                Telefon
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  Dakota Rice
                </td>
                <td>
                  2938056445312
                </td>
                <td>
                  13/01/2000
                </td>
                <td class="text-right">
                  0765826734
                </td>
              </tr>
              <tr>
                <td>
                  Minerva Hooper
                </td>
                <td>
                  1942796297603
                </td>
                <td>
                  04/05/1994
                </td>
                <td class="text-right">
                  0383604781
                </td>
              </tr>
              <tr>
                <td>
                  Sage Rodriguez
                </td>
                <td>
                  3971561611357
                </td>
                <td>
                  18/09/2001
                </td>
                <td class="text-right">
                  9084430625
                </td>
              </tr>
              <tr>
                <td>
                  Philip Chaney
                </td>
                <td>
                  0049208020730
                </td>
                <td>
                  29/11/1996
                </td>
                <td class="text-right">
                  6741102571
                </td>
              </tr>
              <tr>
                <td>
                  Doris Greene
                </td>
                <td>
                  0933264024044
                </td>
                <td>
                  22/10/1997
                </td>
                <td class="text-right">
                  8940862461
                </td>
              </tr>
              <tr>
                <td>
                  Mason Porter
                </td>
                <td>
                  2542273080408
                </td>
                <td>
                  02/03/1999
                </td>
                <td class="text-right">
                  5709451177
                </td>
              </tr>
              <tr>
                <td>
                  Jon Porter
                </td>
                <td>
                  8095964848339
                </td>
                <td>
                  10/08/1998
                </td>
                <td class="text-right">
                  1743567350
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>