<div class="row">
  <div style="position: relative;left: 17%;" class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Activitate noua: </h5>
      </div>
      <div class="card-body">
        <form>

          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Ora</label>
                <input type="time" class="form-control" placeholder="ex: HH:MM (24h)" >
              </div>
            </div>
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Data</label>
                <input type="date" class="form-control" >
              </div>
            </div>
          </div>
         
          <div class="row">
            <div class="col-md-11">
              <div class="form-group">
                <label>Subiect</label>
                <textarea class="form-control textarea"></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-11">
              <div class="form-group">
                <label>Descriere</label>
                <textarea class="form-control textarea"></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div style="position:relative;left: 290px;">
              <a routerLink="/tableProgram"><button type="submit" class="btn btn-primary btn-round">Adauga</button></a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
