<div class="row">
  <div style="position: relative;left: 17%;" class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Fisa Consultatie: </h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Cod Numeric Personal</label>
                <input type="text" class="form-control" placeholder="ex: 3658629389***" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label >Nume</label>
                <input type="text" class="form-control" >
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label >Prenume</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Data </label>
                <input type="date" class="form-control" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Simptome</label>
                <textarea class="form-control textarea"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Diagnostic</label>
                <textarea class="form-control textarea"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Prescriptii/Recomandari</label>
                <textarea class="form-control textarea"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Creati Fisa</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
